.opportunitiesListCategory {
  margin-bottom: 60px;
}

.opportunitiesListCategoryHeader {
  margin-bottom: 16px;
  font-family: Barlow,sans-serif;
  font-size: 26px;
  line-height: 36px;
}

.opportunitiesListCategoryText {
  font-family: Roboto,sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.opportunitiesListCategoryTextPadding {
  padding-bottom: 36px;
}

.opportunitiesListCategoryTechList {
  font-family: Roboto,sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-top: 16px;
  margin-bottom: 20px;
}