.bannerWrapper {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  background-color: #fff;
  z-index: 901;
}

.bannerWrapperReversed {
  background-color: #222324;
}

.bannerHeader {
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  margin: 0 auto;
  max-width: 944px;
}

.bannerHeaderReversed {
  background-color: #222324;
}

.logo {
}

.items {
}

.navWrapper {
  height: 60px;
}

.nav {
  height: 100%;
}

.hasSubNav::after {
  content: "";
  margin-left: 4px;
  width: 20px;
  height: 20px;
  right: -24px;
  background: transparent
    url(https://a1.prod.2nd.io/website/public/assets/images/down-xs.svg)
    no-repeat;
  background-size: 100%;
}

.nav ul {
  display: flex;
  height: 100%;
  list-style-type: none;
  line-height: 2.4rem;
}

.nav li {
  height: 100%;
  margin: 0 16px 1px 16px;
}

.navLink {
  display: flex;
  align-items: center;
  height: 100%;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.navLinkReversed {
  color: #FFF;
}

.navLink:hover {
  color: #656c6d;
}

.subMenu {
  position: fixed;
  left: 0;
  right: 0;
  top: 60px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.95);
}

.subMenuReversed {
  background-color: rgba(34, 35, 36, 0.95);
}

.subElement {
  display: flex;
  height: auto;
}

.subLink {
  padding: 32px 52px;
  font:
    normal 20px/28px Barlow,
    sans-serif;

  &:hover {
    background-color: #f1f5f5;
  }
}

.subLinkReversed {
  color: #FFF;

  &:hover {
    background-color: #3c4041;
  }
}
