.homeAws {
  margin-top: 60px;
  margin-bottom: 120px;
  text-align: center;
}

.centeredTextBlock {
  width: 400px;
  margin: auto;
}

.sectionTextReversed {
  color: #222324;
}

.btnDarkGrey {
  background: #424242;
  border-radius: 3px 3px 3px 3px;
  border: 1px solid #0f1010;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 8px 16px;
  text-decoration: none;
  display: inline-block;
  color: #FFF;
}
